body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 10px 20px;
    margin-top: 10px;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main > a {
    color: #0000ff;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1em;
}

th, td {
    border: 1px solid #000000;
    padding: 5px 8px;
    text-align: left;
    font-weight: normal;
}

th {
    background-color: #d3d3d3;
    font-weight: bold;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

td:last-child {
    text-align: center;
    white-space: nowrap;
}

td:last-child a {
    color: #0000ff;
    text-decoration: underline;
    margin: 0 3px;
}

td:nth-child(4), 
td:nth-child(5), 
td:nth-child(6) {
    text-align: right;
}

td img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.main form {
    padding: 0;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    width: 120px;
    font-weight: normal;
    color: #000000;
    text-align: left;
    padding-right: 10px;
    line-height: 25px;
}

input[type="text"],
select {
    flex-grow: 1;
    padding: 2px;
    border: 1px solid #999;
    box-sizing: border-box;
    height: 20px;
    max-width: 300px;
}

select {
    max-width: 150px;
}

input[type="file"] {
    flex-grow: 1;
    padding: 0;
    border: none;
    height: auto;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #e0e0e0;
    border: 1px solid #888;
    padding: 2px 5px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
}

.submit {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 120px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 3px 10px;
    border: 1px solid #0056b3;
    border-radius: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
